/* background */
body{
 background: #e1e1e1;
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: Arial, sans-serif;
}
#all-contents {
 max-width: 800px;
    margin: auto;
}
/* navigation menu */
nav {
    background: #2C2C2C;
    margin: 0 auto;
    display: flex;
    padding: 10px;
     margin-bottom: 20px;
}
h1{
     display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-li{
     list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-li{
     display: inline-block;
    padding: 0 10px;
}
a{
    text-decoration: none;
    color: #fff;
}
/* main container area beneath menu */
main {
    background: #3AB4A6;
    display: flex;
    margin-top: 20px;
    border-radius: 8px;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 30px;
}
/* interests section styles */
#interests {
    padding: 8px;
    margin-top: 20px;
    line-height: 1.45;
}
h2, h3 {
    margin: 0px;
}
/*Hover Effects For Nav*/
nav a{
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: 0.3s;
}
nav a:hover {
    color: #3AB4A6;
    background-color: #2C2C2C;
    border-radius: 4px;
    text-decoration: underline;
}
/*portfolio projects*/
.project-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 15px 0;
    background-color: #3c988d;
    color: white;
    padding: 20px;
    border-radius: 12px;
    width: 75%;
    text-decoration: none;
    transition: transform 0.3s,box-shadow 0.3s;
}
.project-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12 px rgba(0, 0, 0, 0.2);
    background-color: #3d7b75;
}
.project-box h3, .project-box p {
    margin 0;
    color: white;
}
/* fan page */
